/*
    Light button to open up auth modal
*/

.buttonLight {
    appearance: none;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
}

.buttonLight:disabled {
    pointer-events: none;
}

.buttonLight:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttonLight:active {
    box-shadow: none;
    transform: translateY(0);
}

/*
    Dark button to open up auth modal
*/
.buttonDark {
    appearance: none;
    background-color: #27b1c1;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
}

.buttonDark:disabled {
    pointer-events: none;
}

.buttonDark:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttonDark:active {
    box-shadow: none;
    transform: translateY(0);
}

/*
    Try now button to
*/
.buttonTryNow {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonTryNow:focus {
    outline: 0;
}

.buttonTryNow:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.buttonTryNow:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .buttonTryNow {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}
